<main-nav type="post">
  <nav-link href="/">Main</nav-link>
  <nav-link href="/posts">Posts</nav-link>
  <nav-link href="/users">Users</nav-link>
</main-nav>
<div>
  <posts-component search="${props.query || ''}">Posts Template</posts-component>
</div>