<main-nav type="post">
  <nav-link slot="link" href="/" class="link link--home">Home</nav-link>
  <nav-link slot="link" href="/posts" class="link link--posts">Posts</nav-link>
  <nav-link slot="link" href="/users" class="link link--users">Users</nav-link>
</main-nav>
<post-detail post="${props.post}"></post-detail>
<list-component type="postComments" post="${props.post}"></list-component>