<main-nav type="post" search="${props.query || ''}">
  <nav-link href="/">Main</nav-link>
  <nav-link href="/posts">Posts</nav-link>
  <nav-link href="/users">Users</nav-link>
</main-nav>
<user-component id="${props.user}" single="true"></user-component>